
<div class="container">
    <h2>Cities in India</h2>
    <ol>
        <li *ngFor="let city of cities">{{city}}</li>
    </ol>
</div>
<hr>

<div class="container">
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cities">
                <td>{{item}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
<hr>

<div class="container">
    <h3 class="text-warning">Covid Cases</h3>
    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Covid Cases</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of covid_cases">
                    <td>{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<hr>

<div class="container">
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Country</th>
                <th>Covid Cases</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of covid_case">
                <td>{{item.Country}}</td>
                <td>{{item.Cases}}</td>
            </tr>
        </tbody>
    </table>
    
</div>


