
<div class="mat-display-4">This is Display 4</div>
<div class="mat-display-3">This is Display 3</div>
<div class="mat-display-2">This is Display 2</div>
<div class="mat-display-1">This is Display 1</div>


<div class="mat-headline">This is Heading for  h1</div>
<div class="mat-title">This is Heading for  h2</div>
<div class="mat-subheading-2">This is Heading for  h3</div>
<div class="mat-subheading-1">This is Heading for  h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
    <h1>This is Heading for  h1</h1>
    <h2>This is Heading for  h2</h2>
    <h3>This is Heading for  h3</h3>
    <h4>This is Heading for  h4</h4> 
</div>