@model Customer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label>CustomerId</label>
                    <input type="text" asp-for="CustomerId" class="form-control" />
                    <span asp-validation-for="CustomerId" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label>CustomerName</label>
                    <input type="text" asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="text" asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                </div>

                <input type="submit" value="SignUp" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>


