
<div class="container">
    
    <div class="row">
        
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="form-group">
                <label for="my-input">Username</label>
                <input id="my-input" class="form-control" type="text" name="" [(ngModel)]="user.email">
            </div>
            <div class="form-group">
                <label for="my-input">Password</label>
                <input id="my-input" class="form-control" type="password" name="" [(ngModel)]="user.password">
            </div>
            
            <button type="button" class="btn btn-default" on-click="Validate()">Login</button>
            
        </div>
        
    </div>
    
</div>

